.dialogsGrid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 15px;
  margin-top: 20px;
}
/* .dialogs{
  overflow-y: scroll;
} */
.dialogs a {
  text-decoration: none;
  color: #000;
}
.active {
  background-color: red;
}
.dialogsItem {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.dialogsItemPhoto {
  width: 50px;
  height: 50px;
}
.dialogsItemPhoto img {
  border-radius: 100%;
  display: block;
  width: 50px;
  height: 50px;
}
.UserName {
  margin-left: 10px;
}
.messagesWindow {
  position: relative;
  height: 85vh;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: #fff;
  overflow: hidden;
}
.messages {
  position: relative;
  height: 90%;
  overflow-y: scroll;
}
.messageInput {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
.messageInput textarea {
  position: relative;
  width: 100%;
  max-width: 595px;
  padding: 10px 55px 10px 15px;
  border-radius: 20px;
  outline: none;
  resize: none;
}
.sendButton {
  position: relative;
  right: 50px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.message {
  padding: 5px;
  border-radius: 10px;
  background-color: #e8eef2;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.answer {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(28, 183, 152, 0.2);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.userMessage {
  margin-left: 10px;
  width: 525px;
}
.userAnswer {
  margin-right: 10px;
  width: 525px;
  text-align: right;
}
