/* Files styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

/* Header block START */

header {
  height: 70px;
  background-color: #3f4257;
}
.header-flex-space {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-flex {
  display: flex;
  align-items: center;
}
.headerSearch {
  position: relative;
  height: 30px;
  width: 270px;
  margin: 0 40px 0 50px;
  border-radius: 15px;
}
.headerSearch img {
  position: absolute;
  top: 8px;
  right: 10px;
}
.searchInput {
  height: 30px;
  width: 270px;
  padding-left: 10px;
  border-radius: 15px;
  font-weight: normal;
  font-size: 12px;
}
.headerNotifications {
  margin-right: 40px;
  cursor: pointer;
}
.headerNotifications img:hover {
  opacity: 0.5;
}
.headerMusic {
  display: flex;
}
.headerMusic img {
  margin-right: 15px;
  cursor: pointer;
}
.headerMusic img:hover {
  opacity: 0.5;
}
.headerMusic:last-child {
  margin-right: 0px;
}
.headerMusic h4 {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.headerUser {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerUser h4 {
  margin-right: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.headerUser img:nth-child(2) {
  margin-right: 10px;
}
.bgColor {
  background-color: #e8eef2;
}

/* Header block END */

/* Profile block START */

.profileBanner {
  height: 375px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-image: url(./img/ProfileInfo/profile-banner.jpg);
}
.profileIntro-bg {
  position: relative;
  background-color: #fff;
}
.profileIntro {
  position: relative;
  height: 85px;
  display: flex;
}
.profilePhoto {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fff;
}
.profileUser {
  position: absolute;
  top: -85px;
  display: flex;
}
.banner-text {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}
.userName {
  margin-bottom: 20px;
}
.user-location {
  display: flex;
}
.profileButtons {
  position: absolute;
  top: -45px;
  right: 15px;
  display: flex;
}
.profileButtons button {
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.profileButtons :first-child {
  margin-right: 10px;
}
.profileSocial {
  margin-top: 46px;
  display: flex;
}
.socialNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 2px;
}
.socialFacebook {
  background-color: #2f5b9c;
}
.socialTwitter {
  background-color: #37bff1;
}
.socialInstagram {
  background-color: #f74881;
}
.socialVk {
  background-color: #4a76a8;
}
.socialGooglePlus {
  background-color: #dc5246;
}

/* Profile block END */

/* Navbar block START */

.sidebar-content {
  margin-top: 20px;
}
.navbar {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: #fff;
}
.navbar .navbarItem:last-child {
  margin-bottom: 0;
}
.navbarItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.navbarItem img {
  margin-right: 10px;
}
.navbarItem p {
  font-weight: normal;
  font-size: 15px;
  color: #515365;
}
.OnlineFriendsSidebar {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px 17px;
  border-radius: 5px;
  color: #515365;
  background-color: #fff;
}
.OnlineFriendsSidebar h4,
.GroupsSidebar h4 {
  font-weight: normal;
  font-size: 16px;
}
.GroupsSidebar {
  width: 200px;
  margin-right: 20px;
  padding: 15px 17px;
  border-radius: 5px;
  color: #515365;
  background-color: #fff;
}
.FriendsOnlineGrid,
.PopularGroupsGrid {
  margin: 15px 0 15px 0;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  border-bottom: 1.5px solid #e8eef2;
}
.FriendsOnlineGrid p,
.PopularGroupsGrid p {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}
.PageButton {
  width: 100%;
  height: 26px;
  padding: 5px 9px;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 30px;
  background-color: #27aae1;
}
/* Sidebar block END */

/* ---------- Content block START ------- */

/* ContentBar START */
.content {
  display: flex;
}
.contentBar {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  background-color: #fff;
}
.contentBarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 105px;
  padding: 25px 20px;
  border-right: 2px solid #e9f1f7;
}
.contentBarItem p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #515365;
}
.contentBar a {
  text-decoration: none;
}

/* ContentBar END */

/* ContentBanner START */

.contentBanner {
  position: relative;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.contentBanner img {
  width: 100%;
}
.bannerPagination {
  position: absolute;
  display: grid;
  grid-template-columns: 15px 15px 15px;
  grid-gap: 12px;
  bottom: 12px;
  left: 46%;
}
.bannerDot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
}
.bannerDotNonActive {
  opacity: 0.3;
}

/* ContentBanner END */

/* ContentViewProfile START */

.contentViewProfile {
  margin-top: 20px;
  padding: 15px 25px;
  width: 100%;
  border-radius: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #515365;
  background-color: #fff;
}

.contentBlockTitle {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8eef2;
}
.contentBlockTitle h4 {
  font-weight: normal;
  font-size: 16px;
  margin-left: 5px;
}
.viewProfileGrid {
  display: grid;
  grid-template-columns: auto auto;
}
.viewProfileGrid p {
  font-weight: normal;
  font-size: 16px;
  color: #515365;
  margin-bottom: 15px;
}

/* ContentViewProfile END */

/* ContentSkills START */

.contentSkills {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: #fff;
}
.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.skill {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  background-color: #e7e7e7;
  border-radius: 3px;
}
.skillName {
  padding-left: 10px;
  color: #fff;
}
.skillProcent {
  position: absolute;
  right: 10px;
}
.skillMain {
  height: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills1 {
  width: 95%;
  background-color: #2ab763;
}
.skills2 {
  width: 90%;
  background-color: #ffa23a;
}
.skills3 {
  width: 60%;
  background-color: #2a7da1;
}
.skills4 {
  width: 20%;
  background-color: #ff603a;
}

/* ContentSkills END */

/* ContentStrengths START */

.contentStrengths {
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: #fff;
}
.contentSterngthsText p {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  color: #515365;
}
.contentSterngthsText :last-child {
  margin-bottom: 0;
}

/* ContentStrengths END */

/* ContentPortfolio START */

.contentPortfolio {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
.contentPortfolioWorks {
  display: flex;
}

/* ContentPortfolio END */

/* ---------- Content block END --------- */

/* ----- Publications START ------ */

/* WritePublication START */

.writePublicationBg {
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  background-color: #fff;
}
.writePublication {
  display: flex;
  align-items: center;
  max-width: 748px;
  margin: 0 auto;
}
.writePublicationInput {
  margin: 0 30px 0 20px;
}
.writePublicationInput input {
  width: 411px;
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #f0f2f5;
}
.writePublicationInput input::placeholder {
  font-weight: normal;
  font-size: 16px;
  color: #91939f;
}
.writePublicationAdditionals {
  display: flex;
}
.writePublicationAdditionals img {
  margin-right: 20px;
}
.writePublicationAdditionals :last-child {
  margin-right: 30px;
}

/* WritePublication END */

/* PagePublications START */

.publications {
  margin-top: 20px;
  padding: 30px 25px;
  display: flex;
  background-color: #fff;
}
.publicationsStatus {
  position: relative;
  margin-right: 20px;
  padding-top: 5px;
  border-left: 2px solid #27aae1;
}
.publicationInfo {
  margin: -10px 0 0 7px;
}
.publicationInfo h4 {
  font-weight: normal;
  font-size: 16px;
  color: #27aae1;
}
.publicationInfo p {
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
}
.publicationStatusCircle {
  position: absolute;
  top: 0;
  left: -6.5px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #27aae1;
}
.publicationPhoto {
  margin-right: 20px;
}
.publicationDescription {
  display: flex;
}
.descriptionInfo {
  position: relative;
  margin-left: 10px;
}
.descriptionIntro {
  display: flex;
  align-items: flex-start;
}
.usersNameComment {
  margin-right: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #27aae1;
}
.userFollowingStatus {
  margin-right: 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #6ba71b;
}
.publicationAssessment {
  position: absolute;
  right: 0;
  display: flex;
  margin-top: -10px;
  font-weight: normal;
  font-size: 13px;
}
.publicationLike {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.publicationLike svg {
  margin-right: 3px;
}
.publicationLike p {
  color: #6ba71b;
}
.publicationDislike {
  display: flex;
  align-items: center;
}
.publicationDislike svg {
  margin-right: 3px;
}
.publicationDislike p {
  color: #d6100b;
}
.publishedText {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8eef2;
}
.publishedTime {
  padding: 6px 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8eef2;
}
.publishedTime p {
  font-weight: normal;
  font-size: 13px;
  color: #515365;
}
.publishedText {
  font-weight: normal;
  font-size: 13px;
}
.publicationAnswer {
  display: flex;
  font-size: 13px;
  font-weight: normal;
}
.publicationAnswerPhoto {
  margin-right: 10px;
}
.publicationAnswerComment span {
  color: #27aae1;
  margin-right: 10px;
}
.publicationAllAnswers p {
  margin: 10px 0 10px 0;
  color: rgba(81, 83, 101, 0.6);
}
.userAnswer{
  display: flex;
  align-items: center;
}
.userAnswer img{
  margin-right: 10px;
}
.userAnswer input{
  padding: 12px 10px 12px 25px;
  width: 100%;
  border-radius: 50px;
  background-color: #F0F2F5;
}
.userAnswer input ::placeholder {
  font-size: 13px;
  font-weight: normal;
  color: rgba(81, 83, 101, 0.6);
}
/* PagePublications END */

/* ----- Publications END ------ */
