* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

/* Header block START */

header {
  height: 70px;
  background-color: #3f4257;
}
.header-flex-space {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-flex {
  display: flex;
  align-items: center;
}
.headerSearch {
  position: relative;
  height: 30px;
  width: 270px;
  margin: 0 40px 0 50px;
  border-radius: 15px;
}
.headerSearch img {
  position: absolute;
  top: 8px;
  right: 10px;
}
.searchInput {
  height: 30px;
  width: 270px;
  padding-left: 10px;
  border-radius: 15px;
  font-weight: normal;
  font-size: 12px;
}
.headerNotifications {
  margin-right: 40px;
  cursor: pointer;
}
.headerNotifications img:hover {
  opacity: 0.5;
}
.headerMusic {
  display: flex;
}
.headerMusic img {
  margin-right: 15px;
  cursor: pointer;
}
.headerMusic img:hover {
  opacity: 0.5;
}
.headerMusic:last-child {
  margin-right: 0px;
}
.headerMusic h4 {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.headerUser {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerUser h4 {
  margin-right: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}
.headerUser img:nth-child(2) {
  margin-right: 10px;
}
body {
  background-color: #e8eef2;
}

/* Header block END */

/* Profile block START */

.profileBanner {
  height: 375px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-image: url(./img/ProfileInfo/profile-banner.jpg);
}
.profileIntro-bg {
  position: relative;
  background-color: #fff;
}
.profileIntro {
  position: relative;
  height: 85px;
  display: flex;
}
.profilePhoto {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fff;
}
.profileUser {
  position: absolute;
  top: -85px;
  display: flex;
}
.banner-text {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}
.userName {
  margin-bottom: 20px;
}
.user-location {
  display: flex;
}
.profileButtons {
  position: absolute;
  top: -45px;
  right: 15px;
  display: flex;
}
.profileButtons button {
  padding: 5px 10px 5px 10px;
  border: 0;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.profileButtons :first-child {
  margin-right: 10px;
}
.profileSocial {
  margin-top: 46px;
  display: flex;
}
.socialNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 2px;
}
.socialFacebook {
  background-color: #2f5b9c;
}
.socialTwitter {
  background-color: #37bff1;
}
.socialInstagram {
  background-color: #f74881;
}
.socialVk {
  background-color: #4a76a8;
}
.socialGooglePlus {
  background-color: #dc5246;
}

/* Profile block END */

/* Navbar block START */

.sidebar-content {
  margin-top: 20px;
}
.navbar {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: #fff;
}
.navbar .navbarItem:last-child {
  margin-bottom: 0;
}
.navbarItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.navbarItem img {
  margin-right: 10px;
}
.navbarItem p {
  font-weight: normal;
  font-size: 15px;
  color: #515365;
}
.OnlineFriendsSidebar {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px 17px;
  border-radius: 5px;
  color: #515365;
  background-color: #fff;
}
.OnlineFriendsSidebar h4,
.GroupsSidebar h4 {
  font-weight: normal;
  font-size: 16px;
}
.GroupsSidebar {
  width: 200px;
  margin-right: 20px;
  padding: 15px 17px;
  border-radius: 5px;
  color: #515365;
  background-color: #fff;
}
.FriendsOnlineGrid,
.PopularGroupsGrid {
  margin: 15px 0 15px 0;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  border-bottom: 1.5px solid #E8EEF2;
}
.FriendsOnlineGrid p,
.PopularGroupsGrid p {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}
.PageButton {
  width: 100%;
  padding: 5px 9px;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 30px;
  background-color: #27AAE1;
}
/* Navbar block END */
